@{
    ViewData["Title"] = "Movie List";
}

<!--
ViewData["Title"] = "Movie List"; in the code above sets the Title property of the ViewData dictionary to "Movie List".
    The Title property is used in the <title> HTML element in the layout page: <title> at ViewData["Title"] - Movie App</title>
-->

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>